.public__h4{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 80px;
    font-family:"Montserrat-Bold" ;
}
.public_input{
    height: 32px;
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    font-family:"Lato-Regular" ;
    padding: 24px 0;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.54);
    background: #FFF8F5;
    border-radius: 45px;
    text-transform:capitalize;
    // color: #FFF8F5;
    border: none;
    outline: none;
}
.public_tetxArea{
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    background: #FFF8F5;
    padding: 24px 0;
    font-size: 36px;
    font-weight: 400;
    font-family:"Lato-Regular" ;
    padding-left: 30px;
    border-radius: 45px;
    border: none;
    outline: none;
    
   
}
.fons--project{
    background-color: #fcefe4;
}