extends ./layout/main 

block varib
    -let HedaerBeuatufal=true
block content
    if HedaerBeuatufal
        section.flower
            .container 
                .wrapper
                    .HeaderFlower
                        +headerFont('Собираем букеты, созданные для Вас',true)
                        +BtnBig("Выбрать букеты",'btnHeaderMain')
        .fons--project.none
            .container    
                .discount.listtocOne
                    h4.public__h4 Скидки
                    .swiper.discont__slider
                        .swiper-wrapper
                            .swiper-slide   
                                +card("лв")
                                
                            .swiper-slide 
                                +card("лв")
                            .swiper-slide 
                                +card("лв")
                            .swiper-slide 
                                +card("лв")
                    
                            .swiper-slide   
                                +card("лв")
                                
                            .swiper-slide 
                                +card("лв")
                            .swiper-slide 
                                +card("лв")
                            .swiper-slide 
                                +card("лв")
                    .swiper-pagination.pagen 
                .AboutOutContent
                    div
                        h4.public__h4 Почему именно мы?
                        .AboutOutContent__container.AboutOutContent__listoc-right     
                            .AboutOutContent__img.AboutOutContent__listoc 
                                img(src="./image/args1.png", alt="")
                                .AboutOutContent__after.AboutOutContent__after-bigtext.
                                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант. Вы можете выбрать любую цветочную композицию
                                        из нашего каталога или заказать свой вариант                
                        .AboutOutContent__container     
                            .AboutOutContent__img 
                                img(src="./image/args2.png", alt="")
                                .AboutOutContent__after.AboutOutContent__after-smalltext.
                                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                        .AboutOutContent__container.AboutOutContent__container-margin     
                            .AboutOutContent__img 
                                img(src="./image/args3.png", alt="")
                                .AboutOutContent__after.AboutOutContent__after-bigtext.
                                        Вы можете выбрать любую цветочную композицию из нашего каталога или заказать свой вариант
                .collection
                    h4.public__h4 Каталог
                    .collection__container
                        .collection__left
                            +catalogItem('Для вас', './image/forYou.png')
                            +catalogItem('Сладости','./image/sweet.png')
                        .collection__center
                            +catalogItemBig('Подарки','./image/sot.png','right')
                            +catalogItemBig('Букеты','./image/bug.png','left')
                            +catalogItemBig('Розы','./image/rw.png','right')
                        .collection__right
                            +catalogItem('Праздничная коллекция', './image/tl.png')
                            +catalogItem('Комнатные растения','./image/fl.png')
                .forblock  
                    h4.public__h4.forafter Для кого
                    .forblock__container 
                        +card()
                        +card()
                        +card()
                        +card()
                        +card()
                        +card()
                        +card()
                        +card()
                    .forblock__link 
                        a(href="#").forblock__lintItem Перейти к каталогу
        .delivery
            .delivery__container
                h4.public__h4.deliveryStyle Доставка
                .delivery__content. 
                    Возьмём на себя все заботы по созданию, оформлению и доставке корпоративных букетов в обычные и праздничные дни за разумные деньги      
        .fons--project   
            .idea
                .container
                    .idea__header 
                        h4.public__h4 Предложи свой букет
                    .idea__container
                        .idea__inputs
                            +inputsSet('Имя')
                            +inputsSet('Телефон')
                            +areaText("Ваша идея")
                        .idea__img 
                            img(src="./image/ideaImg.png", alt="")
                    .idea__footer
                        +BtnBig('Отправить')
        .view
            .container 
                .view__logo
                    .header__logo
                                h2 FlORISTMAN 
                                span Широкий выбор на любой вкус 
                .view__container 
                    +catalogItem("Цветы",'./image/row.png')
                    +catalogItem("Воздушные шары",'./image/shart.png')
                    +catalogItem("Аксессуары",'./image/accessory.png')
                    +catalogItem("Фруктовые сладости",'./image/sweets.png')
                    +catalogItem("Сладости",'./image/5.png')
                    +catalogItem("Подаркиветы",'./image/6.png')
                    +catalogItem("Услуги",'./image/7.png')
                    +catalogItem("Комнатные растения",'./image/8.png')
                
             

